#mainWrapper
  #headerArea
    #titleInfo Title Information
    #menuInfo Menu Information
    #toolbar Toolbar

  #bodyArea
    #selector div for select
    #selectAllCell>
    #sheetColumnNumber
      column num
    #sheetRowNumber
      / br is for test info display
      %br/
      %br/
      %br/
      row num
    #addRowsBtn
      add 100 rows here

  #footerArea
    #sheetsList Sheets List

  #sheetContainer
    / br is for test info display
    %br/
    %br/
    %br/
    canvas here
  #horizontalScroll
    h scoll
  #verticalScroll
    v scoll
