$maxWidth: 1024;
$maxHeigth: 768;
$headerHeight: 100;
$footerHeight: 50;
$defaultCellWidth: 100;
$rowNumberWidth: 40;
$defaultCellHeight: 20;
$scrollBarWidth: 15;

body {
  font: 14px arial, sans-serif;
}

div#mainWrapper {
  position: absolute;
  width: #{$maxWidth - $scrollBarWidth}px;
  height: #{$maxHeigth - $scrollBarWidth}px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div#mainWrapper div#headerArea {
  width: 100%;
  width: #{$maxWidth}px;
  height: #{$headerHeight}px;
  background-color: #EEEEEE;
}

div#mainWrapper div#bodyArea {
  position: relative;
  width: #{$maxWidth}px;
  height: #{$maxHeigth - $headerHeight - $footerHeight - $scrollBarWidth}px;
  overflow: hidden;
}

div#mainWrapper div#bodyArea div#current {
  position: absolute;
  border: 2px solid #4D90FE;
  display: none;
  z-index: 11;
}

div#mainWrapper div#bodyArea div#selected {
  position: absolute;
  background-color: rgba(160, 195, 255, 0.2);
  display: none;
  z-index: 6;
}

div#mainWrapper div#bodyArea div#numberSelected {
  position: absolute;
  background-color: #DDDDDD;
  display: none;
  z-index: 6;
}

div#mainWrapper div#bodyArea div#inputContainer {
  position: absolute;
  border: 2px solid #4D90FE;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 15;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: none;
}

div#mainWrapper div#bodyArea div#inputContainer div {
  background-color: #FFFFFF;
  cursor: text;
  width: 100%;
  height: 100%;
  margin: 0;
  outline: medium none;
  white-space: pre-wrap;
}

div#mainWrapper div#bodyArea div#selectAllCell {
  position: absolute;
  top: 0px;
  left: 0px;
  width: #{$rowNumberWidth}px;
  height: #{$defaultCellHeight}px;
  background-color: #FFDDDD;
  z-index: 6;
}

div#mainWrapper div#bodyArea div#sheetColumnNumber {
  position: absolute;
  top: 0px;
  left: 0px;
  height: #{$defaultCellHeight}px;
  width: 100%;
  background-color: #EEEEEE;
  z-index: 5;
  text-align: center; // for test info display
}

div#mainWrapper div#bodyArea div#sheetRowNumber {
  position: absolute;
  top: 0px;
  left: 0px;
  width: #{$rowNumberWidth}px;
  height: 100%;
  background-color: #EEEEEE;
  z-index: 5;
}

div#mainWrapper div#footerArea {
  width: 100%;
  height: #{$footerHeight}px;
  background-color: #EEEEEE;
}

div#horizontalScroll {
  position: absolute;
  top: #{$headerHeight}px;
  left: #{$maxWidth - $scrollBarWidth}px;
  width: #{$scrollBarWidth}px;
  height: #{$maxHeigth - $headerHeight - $scrollBarWidth}px;
  background-color: #DDFFDD;
  z-index: 999;
}

div#verticalScroll {
  position: absolute;
  top: #{$maxHeigth - $scrollBarWidth}px;
  left: #{$rowNumberWidth}px;
  width: #{$maxWidth - $rowNumberWidth - $scrollBarWidth}px;
  height: #{$scrollBarWidth}px;
  background-color: #DDFFDD;
  z-index: 999;
}

div#sheetContainer {
  position: absolute;
  top: #{$headerHeight}px;
  left: 0px;
  width: #{$maxWidth - $scrollBarWidth}px;
  height: #{$maxHeigth - $headerHeight - $footerHeight - $scrollBarWidth}px;
  opacity: 0.4;
  z-index: 10;
  text-align: center; // for test info display
}
